<<!DOCTYPE html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/isomorphic_go_icon.png">
    <title>GolangAce</title>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Curated description under 160 characters about the site goes below-->
    <meta name="description" content=/>

    <!--Open graph tags -->
    <meta property="og:url" content="golangace.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="GolangAce" />
    <!--Curated description under 160 characters about the site goes below-->
    <meta property="og:description" content="" />
    <!-- static link to 1200+x600+ icon goes here-->
    <meta property="og:image" content="" />
    <meta property="og:locale" content="en_US" />

    <!--Twitter Cards-->
    <meta name="twitter:card" content="summary_large_image" />
    <!--Curated description under 160 characters about the site goes below-->
    <meta name="twitter:description" content="" />
    <meta name="twitter:title" content="GolangAce" />
    <!-- static link to 1200+x600+ icon goes here-->
    <meta name="twitter:image" content="" />
    <meta name="twitter:site" content="@GolangAce" />
</head>

<body>
    <h1>This is index.html {{.}}</h1>
    <div class="header">
        <div class="navbar"></div>
    </div>

    <div id="about">
        <h1>Welcome to Golang Ace</h1>
        <!-- Welcome to golang ace on top left of this div with some padding on its left, then another div below with golangace gopher's image on left and startig from l of welcome written above, and then at the same level, we will write about golangace with the vision statement -->
    </div>

    <div class="featuredArticles"></div>
    <div class="featuredHowToGuides"></div>
    <!-- these featured articles and howtos will be of card types and there will be some logic so diplay one few, but the best ones here -->
    <footer>

    </footer>
</body>

</html>