<!doctype html>
<html>
     <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
        <title>Credits - GolangAce</title>
        <link rel="stylesheet" type="text/css" href="/static/css/normalize.css"
        <!--meta tags will go here through subtemplating -->
    </head>

    <body>
        <!--navbar will go here through subtemplating-->
        <h1>{{.}}</h1>
        <!-- these member details will be populated for all the credit holder -->
        

        <!-- footer's and sub-footer's subtemplate will be applied here -->
    </body>
</html>

<!--<div class = "members">
            <div class = "memberCard">
                <div class = "memberProfilePhoto"></div>
                <div class = "memberName"></div>
                <div class = "memberSocialLinks">
                     Some logic will go here that will show oly those twitter, fb links for which member has accoun twith us, this same logic is going to be applied in author social links also-->
                    <!--<span class = "memberTwitterHandle"></span>
                    <span class = "memberFacebookLink"></span>
                    <span class = "memberLinkedInLink"></span>
                </div>
                <div class = "memberShortBio"></div>
            </div>
        </div>-->